@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;1,400&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-color: #ffffff;
    --sidebar-color: #FFF;
    --primary-color: #FDC323;
    --primary-color-light: #F6F5FF;
    --text-color: #24724D;

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body {
    height: 100vh;
    background: #F8F8FF;
    transition: var(--tran-05);

}

.button-container button {
    background-color: #24724D;
}

.notification {
    display: none;
    background-color: #F7F7F6;
    color: #24724D;
    border: 3px solid #24724D;
    text-align: center;
    padding: 20px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 15px;
    border-radius: 20px;
    z-index: 1000;
    animation: fadeIn 0.5s;

}

.welcome-message {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
}

.notification p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

/* ------SideBar------ */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #F8F8FF;
    transition: var(--tran-05);
    z-index: 100;
    border: 2.9px solid #dcdcdc;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
}

/* ------Reusable CSS------ */
.sidebar .text {
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
}

.sidebar .image {
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text {
    color: var(--text-color);
    transition: var(--tran-02);
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

.top_content {
    margin: 0%;
    padding: 0%;
    background-color: #24724D;
    padding: 8px 18px;
    border-bottom: 2.9px solid #dcdcdc;
}

.top_content li {
    list-style: none;
}

.top_content span {
    color: white;
}

.top_content .search-box {
    background-color: var(--primary-color-light);
    border-radius: 100px;
    border: 1px solid #000;
    height: 45px;
    width: 350px;
    padding: 10px;
    transition: var(--tran-05);
    display: flex;
    margin-left: 400px;
    margin-top: 16px;
}

.search-box input {
    height: 90%;
    width: 90%;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    background-color: var(--primary-color-light);
    transition: var(--tran-05);
}

.sidebar li a {
    height: 100%;
    width: 100%;
    text-decoration: none;
    align-items: center;
    display: flex;
    border-radius: 100px;
    transition: var(--tran-04);
}

.sidebar li a:hover {
    background-color: var(--primary-color);
    --text-color: #FFFFFF;
    border-radius: 100px;
    background: rgb(15, 162, 92);
    background: linear-gradient(90deg, rgba(15, 162, 92, 1) 0%, rgba(229, 207, 0, 1) 93%, rgba(229, 207, 0, 1) 100%);
}

.sidebar .menu-bar {
    height: calc(100% - 10px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

i {
    cursor: pointer;
}

.sikhay-logo {
    align-items: center;
    gap: 7px;
    padding: 10px 14px;
    text-align: center;
}



/*----side bar profile----*/
.sidebar .sidebar-profile {
    position: relative;
    padding: 10px 14px 7px 14px;
}

.sidebar-profile .image-text img {
    width: 55px;
    border-radius: 50%;
    background-color: white;
    border: 3px solid #24724D;
}

.sidebar-profile .image-text {
    display: flex;
    align-items: center;
}

.sidebar-profile .header-text {
    padding: 10px;
}

.sidebar-profile p {
    font-weight: 500;
    font-size: 16px;
    color: #24724D;
}

.sidebar-profile span {
    font-weight: lighter;
    color: #24724D;
}


/*------Right Side-----*/

.right-side {
    margin-left: 250px;
}


/*NAV BURGER*/
.nav-burger {
    display: inline-block;
    float: right;
    position: relative;
    top: -3px;
    color: #4A4A4A;
}

.nav-burger .icon {
    font-size: 50px;
    color: white;
    cursor: pointer;
}

.menu {
    padding: 0px 14px;
}

.menu-content {
    display: none;
    background-color: #F5F5F5;
    position: absolute;
    right: 0;
    top: 50px;
    width: 250px;
    border-radius: 15px;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.menu-content.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.menu-content h2 {
    color: #4A4A4A;
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 10px;
}

.menu-content a {
    color: #4A4A4A;
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 7px;
    font-size: 18px;
    border: 1px solid #D4D4D4;
    padding: 10px 20px;
    font-weight: lighter;
}

.menu-content .icon {
    font-size: 30px;
    color: #4A4A4A;
}

.menu-content a:hover {
    background-color: #cecdcd;
}


.school-name {
    padding-top: 4px;
}





/*------BreadCrump------*/

.breadcrumb-content {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.breadcrumb {
    display: flex;
    gap: 15px;
    font-size: 16px;
}

.breadcrumb li a {
    text-decoration: none;
    color: white;
    height: 100%;
    width: 100%;
    text-decoration: none;
    align-items: center;
    display: flex;
    gap: 5px;
}


/*----Dashboard body----*/

.dashboard-body {
    margin: 18px;
    padding: 0px 18px 0px 18px;
    color: #24724D;
}

/*------Dashboard selector-------*/

.button-container {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button-container button {
    padding: 0px;
    width: 270px;
    height: 135px;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.btn {
    position: relative;
    padding: 15px 30px;
    color: white;
    border: none;
    border-radius: 5px;
    flex: 1 1 200px;
    /* Flex-grow, flex-shrink, flex-basis */
    box-sizing: border-box;
}

@media screen and (max-width: 600px) {
    .btn {
        flex: 1 1 100%;
        /* Full width on small screens */
    }
}

.button-container .btn {
    border-radius: 14px;
}

.btn .icon {
    position: absolute;
    top: 3px;
    right: 10px;
    z-index: 0;
    font-size: 100px;
    color: #FFFFFF;
    cursor: unset;
}

.btn:hover .icon {
    font-size: 110px;
    transition: 1s;
}

.inner {
    text-align: left;
    padding: 0px 0px 0px 15px;

}

.inner h3 {
    font-size: 38px;
    font-weight: bold;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0;
}

.btn p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: normal;
}

.btn>.small-box-footer {
    position: relative;
    text-align: center;
    padding: 4.9px 0;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    z-index: 10;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none;
    font-weight: lighter;
    border-radius: 0px 0px 14px 14px;
}

.btn>.small-box-footer:hover {
    color: #ffffff;
    background: rgba(0, 0, 0, 0.15);
}
.third-container {
    margin-top: 15px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap; /* Enable wrapping for responsiveness */
}
.dashboard-content .header {
    margin-bottom: 15px;
}
.voters-list-content {
    border-radius: 8px;
    background: #ffffff;
    width: 100%;
    border-top: 3px solid #d2d6de;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 18px;
}
.votes-container {
    flex: 1 1 300px; /* Allows the container to grow/shrink and sets minimum width */
    border-radius: 8px;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 18px;
    min-width: 200px; /* Minimum width for responsiveness */
}

.grade-level-container {
    flex: 0 1 180px;
    height: auto;
    background: #ffffff;
    border-radius: 8px;
    padding: 18px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    min-width: 300px;
    max-width: 320px;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .third-container {
        flex-direction: column;
        align-items: center;
    }
}
.icon-grade-level {
    position: relative;
    width: 100px; /* Set to 100px */
    height: 100px;
    margin: auto;
    margin-top: 15px; 
}
.view-button{
    margin-top: 15px;
    text-align: center;
}
.view-button button{
    padding: 5px 25px;
    gap: 3px;
    color: white;
    background-color: #24724D;
    border: transparent;
    border-radius: 30px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.view-button a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.date-time {
    flex: 0 1 180px;
    height: auto;
    background: #ffffff;
    border-radius: 8px;
    padding: 18px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    min-width: 300px;
    max-width: 320px;
    text-align: center;
    margin-top: 15px;
}

.clock-icon {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto 15px;
    background: #f0f0f0;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
    margin-top: 12px;
}

.clock-icon::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 6px;
    background: #333;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.hour-hand, .minute-hand, .second-hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom;
    transform: translateX(-50%);
    background-color: #333;
}

.hour-hand {
    width: 4px;
    height: 25px;
    background: #333;
    z-index: 3;
}

.minute-hand {
    width: 3px;
    height: 35px;
    background: #666;
    z-index: 2;
}

.second-hand {
    width: 2px;
    height: 40px;
    background: #e74c3c; /* Red color for second hand */
    z-index: 1;
}

#timeDisplay {
    margin-top: 12px;
    color: #4A4A4A;
    font-size: 15px;
}
#timePicker{
    padding: 5px;
    margin-top: 8px;
    border: 1px solid #24724D;
    border-radius: 4px;
    font-size: 17px;
    text-align: center;
    background-color: #FFFFFF;
}
.grade-level-content{
    display: block;
}












/*LOGOUT FORM*/

.logout_popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}


.logout_popup-content {
    background-color: #F7F7F6;
    margin-inline: auto;
    margin-top: 25px;
    padding: 0px 0px 20px 0px;
    border: 4px solid #24724D;
    border-radius: 30px;
    width: 25%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s;
}

.logout_popup-top {
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 15px;
    text-align: center;
    background: #24724D;
    border-radius: 20px 20px 0px 0px;
    padding-top: 10px;
}

.logout_popup-top h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    color: white;
}

.logout_popup-forms {
    width: 100%;
}

.warning-logout-description {
    text-align: center;
    color: #24724D;
    margin: 25px 0px 10px 0px;
}

.logout_close-form-btn {
    background-color: white;
    justify-content: space-between;
    padding: 10px 20px;
    color: #24724D;
    border: 2px solid #24724D;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    gap: 5px;
}

.logout_close {
    color: #24724D;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: default;
}

.logout_close:hover,
.logout_close:focus {
    color: #24724D;
    text-decoration: none;
}

.form-group-button {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 15px;
}

.save-btn {
    background-color: #24724D;
    justify-content: space-between;
    padding: 10px 25px;
    color: white;
    border: 2px solid #24724D;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    gap: 5px;
}

.save-btn:hover {
    opacity: 0.9;
}

.logout_close-form-btn {
    background-color: white;
    justify-content: space-between;
    padding: 10px 20px;
    color: #24724D;
    border: 2px solid #24724D;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    gap: 5px;
}

.icons-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}