@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;1,400&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-color: #ffffff;
  --sidebar-color: #FFF;
  --primary-color: #FDC323;
  --primary-color-light: #F6F5FF;
  --text-color: #24724D;

  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

body {
  height: 100vh;
  background: #F8F8FF;
  transition: var(--tran-05);

}

/* ------SideBar------ */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: #F8F8FF;
  transition: var(--tran-05);
  z-index: 100;
  border: 2.9px solid #dcdcdc;
  border-top: 0px;
  border-bottom: 0px;
  border-left: 0px;
}

/* ------Reusable CSS------ */
.sidebar .text {
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
}

.sidebar .image {
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar li {
  height: 50px;
  margin-top: 10px;
  list-style: none;
  display: flex;
  align-items: center;
}

.sidebar li .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text {
  color: var(--text-color);
  transition: var(--tran-02);
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}

.top_content li {
  list-style: none;
}

.top_content span {
  color: #323232;
}

.top_content .search-box {
  background-color: var(--primary-color-light);
  border-radius: 100px;
  border: 1px solid #000;
  height: 45px;
  width: 350px;
  padding: 10px;
  transition: var(--tran-05);
  display: flex;
  margin-left: 400px;
  margin-top: 16px;
}

.search-box input {
  height: 90%;
  width: 90%;
  outline: none;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  background-color: var(--primary-color-light);
  transition: var(--tran-05);
}

.sidebar li a {
  height: 100%;
  width: 100%;
  text-decoration: none;
  align-items: center;
  display: flex;
  border-radius: 100px;
  transition: var(--tran-04);
}

.sidebar li a:hover {
  background-color: var(--primary-color);
  --text-color: #FFFFFF;
  border-radius: 100px;
  background: rgb(15, 162, 92);
  background: linear-gradient(90deg, rgba(15, 162, 92, 1) 0%, rgba(229, 207, 0, 1) 93%, rgba(229, 207, 0, 1) 100%);
}

.sidebar .menu-bar {
  height: calc(100% - 10px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

i {
  cursor: pointer;
}

.sikhay-logo {
  /* display: flex; */
  align-items: center;
  margin-bottom: 15px;
  /* margin-top: -6px; */
  gap: 7px;
  padding: 10px 14px;
  /* border-bottom: 2.9px solid #dcdcdc; */
  text-align: center;
}


/*----side bar profile----*/
.sidebar .sidebar-profile {
  position: relative;
  padding: 10px 14px;
}

.sidebar-profile .image-text img {
  width: 55px;
  border-radius: 6px;
  border-radius: 50%;
  background-color: white;
  border: 3px solid #24724D;
}

.sidebar-profile .image-text {
  display: flex;
  align-items: center;
}

.sidebar-profile .header-text {
  padding: 10px;
}

.sidebar-profile p {
  font-weight: 500;
  font-size: 16px;
  color: #24724D;
}

.sidebar-profile span {
  font-weight: lighter;
  color: #24724D;
}

.menu {
  padding: 10px 14px;
}




/*------Right Side-----*/

.right-side {
  margin-left: 250px;
}

.top_content {
  background-color: rgb(36, 114, 77);
  padding: 8px 18px;
  border-bottom: 2.9px solid #dcdcdc;

}

.nav-burger {
  display: inline-block;
  float: right;
  position: relative;
  top: -3px;
  color: #4A4A4A;
}

.nav-burger .icon {
  font-size: 50px;
  color: white;
  cursor: pointer;
}

.menu-content {
  display: none;
  background-color: #F5F5F5;
  position: absolute;
  right: 0;
  top: 50px;
  width: 250px;
  border-radius: 15px;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.menu-content.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.menu-content h2 {
  color: #4A4A4A;
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 10px;
}

.menu-content a {
  color: #4A4A4A;
  display: flex;
  text-decoration: none;
  align-items: center;
  gap: 7px;
  font-size: 18px;
  border: 1px solid #D4D4D4;
  padding: 10px 20px;
  font-weight: lighter;
}

.menu-content .icon {
  font-size: 30px;
  color: #4A4A4A;
}

.menu-content a:hover {
  background-color: #cecdcd;
}


/*------BreadCrump------*/
.breadcrumb-content {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.breadcrumb {
  display: flex;
  gap: 15px;
  font-size: 16px;
}

.breadcrumb li a {
  text-decoration: none;
  color: white;
  height: 100%;
  width: 100%;
  text-decoration: none;
  align-items: center;
  display: flex;
  gap: 5px;
}


/*----Dashboard body----*/
.dashboard-body {
  margin: 18px;
  padding: 0px 18px 0px 18px;
  color: #24724D;
}

.voters-list-content {
  border-radius: 8px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 18px;
}

/*----voters-list-container----*/
.dashboard-content .header {
  margin-bottom: 15px;
}

.voters-list-container {
  margin-bottom: 15px;
  font-weight: lighter;
}

.Voters-list-title {
  display: inline-block;
}


/*----add-button-container----*/

.entries-search-bar-container {
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* Adjusts items spacing */
  align-items: center;
  /* Centers items vertically */
  margin-top: 20px;
  gap: 20px;
}

.selector-entries,
.grade-section,
.search-bar {
  flex: 1;
  /* Makes each section responsive */
  min-width: 200px;
  /* Sets a minimum width for smaller screens */
}

.selector-entries {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  gap: 8px;
}

.selector-entries label {
  font-size: 15px;
}

select {
  border-radius: 3px;
  border: 1.9px solid;
  align-items: center;
  display: flex;
  font-size: 15px;
  color: #9F9898;
}

.grade-section {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  /* Makes it wrap on smaller screens */
}

.grade-selection select,
.section-selection select {
  padding: 5px 15px;
  border-radius: 10px;
}

.search-bar {
  display: flex;
  justify-content: flex-end;
  /* Aligns search bar to the right */
}

.search-container {
  display: flex;
  align-items: center;
  border-radius: 25px;
  background-color: #ECECEC;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1px 10px;
  max-width: 400px;
  width: 100%;
}

.search-container .icon {
  font-size: 35px;
}

.search-input {
  background-color: #ECECEC;
  border: none;
  outline: none;
  padding: 10px;
  flex: 1;
  border-radius: 25px;
  font-size: 16px;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .entries-search-bar-container {
    flex-direction: column;
    /* Stacks elements on smaller screens */
    align-items: stretch;
    /* Makes elements take full width */
  }

  .selector-entries,
  .grade-section,
  .search-bar {
    min-width: 100%;
    /* Sets elements to full width on smaller screens */
  }
}

.school-name {
  padding-top: 4px;
}

.addvoters-popup {
  display: flex;
  justify-content: center;
  align-items: center;
}




.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 15px 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  margin-top: -30px;
}

.warning-description {
  text-align: center;
  margin-bottom: 17px;
  color: #4A4A4A;
}

.content-wrapper {
  display: flex;
  gap: 50px;
  margin-bottom: 10px;
}

.profile-section {
  text-align: center;
  margin-top: 10px;
}

.profile-section p {
  font-size: 18px;
  margin-bottom: 15px;
}

.image-container {
  position: relative;
  width: 233px;
  height: 233px;
  margin: 0 auto;
  border-radius: 1%;
  overflow: hidden;
  background-color: #BCBCBC;
}

#profile-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  margin-top: 50px;
}

.form-section label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.update-btn {
  background-color: red;
  border: 2px solid red;
  border-radius: 50px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 3px;
}

.back-button a {
  text-decoration: none;
}



.cancel-btn:hover,
.update-btn:hover,
.button-back:hover,
.choose-file-btn:hover {
  opacity: 0.9;
}

.platform-container {
  text-align: justify;
}

.form-section-view {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.back-button .button-back {
  font-size: 15px;
  padding: 5px 25px;
  display: flex;
  align-items: center;
  gap: 3px;
  color: white;
  background-color: #24724D;
  border: transparent;
  border-radius: 30px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

/*LOGOUT FORM*/

.logout_popup {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}


.logout_popup-content {
  background-color: #F7F7F6;
  margin-inline: auto;
  margin-top: 25px;
  padding: 0px 0px 20px 0px;
  border: 4px solid #24724D;
  border-radius: 30px;
  width: 25%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s;
}

.logout_popup-top {
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 15px;
  text-align: center;
  background: #24724D;
  border-radius: 20px 20px 0px 0px;
  padding-top: 10px;
}

.logout_popup-top h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
  color: white;
}

.logout_popup-forms {
  width: 100%;
}

.warning-logout-description {
  text-align: center;
  color: #24724D;
  margin: 25px 0px 10px 0px;
}

.logout_close-form-btn {
  background-color: white;
  justify-content: space-between;
  padding: 10px 20px;
  color: #24724D;
  border: 2px solid #24724D;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  gap: 5px;
}

.logout_close {
  color: #24724D;
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: default;
}

.logout_close:hover,
.logout_close:focus {
  color: #24724D;
  text-decoration: none;
}
.form-group-button {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 15px;
}
.save-btn {
  background-color: #24724D;
  justify-content: space-between;
  padding: 10px 25px;
  color: white;
  border: 2px solid #24724D;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  gap: 5px;
}