@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;1,400&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #F8F8FF;
    transition: var(--tran-05);

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ballot-section {
    width: 60%;
    margin: 20px auto;
    border: 3px solid #24724D;
    border-radius: 25px;
    padding-bottom: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background: #F7F7F6;
}

.ballot-section h3 {
    padding: 5px 20px;
    text-align: center;
    background-color: #24724D;
    color: white;
}


.ballot-title h1 {
    padding: 36px 0px 36px 27px;
    color: #4A4A4A;
}

.ballot-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 40px 0px 40px;
    border: 0 solid #24724D;
    border-bottom: 3px solid #24724D;
}

.ballot-title-popup h2 {
    padding: 36px 0px 36px 30px;
    color: #4A4A4A;
    border-left: 3px solid #24724D;
    font-size: 28px;
}

.ballot-title-popup {
    display: flex;
    align-items: center;
    border: 0 solid #24724D;
    border-bottom: 3px solid #24724D;
    gap: 21px;
}
.ballot-title-popup img{
    padding-left: 20px;
}


.candidate button {
    background-color: #24724D;
    color: white;
    display: flex;
    align-items: center;
    border: #24724D;
    padding: 5px 19px;
    gap: 3px;
    border-radius: 10px;
    font-size: 14px;
}

.candidate label {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 15px;
    color: #343434;
    font-size: 16px;
}

.candidate a {
    text-decoration: none;
}

.candidate input {
    margin: 15px;
}

.candidate img {
    margin-right: 15px;
    border-radius: 5px;
    background-color: #D4D4D4;
    width: 50%;
    max-width: 100px;
    height: auto;
}

.form-group-button {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 15px;
    padding-bottom: 80px;
}

.reset_close-form-btn {
    background-color: white;
    justify-content: space-between;
    padding: 10px 20px;
    color: #24724D;
    border: 2px solid #24724D;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    gap: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.save-btn {
    background-color: #24724D;
    justify-content: space-between;
    padding: 10px 25px;
    color: white;
    border: 2px solid #24724D;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    gap: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.logo-sikhay-submit {
    display: block;
    justify-content: center;
    text-align: center;
    color: #24724D;
}

.logo-sikhay-submit img {
    width: 250px;
}

.logo-sikhay-submit p {
    font-size: 10px;
}

.container {
    display: flex;
    gap: 50px;
    padding: 0px 30px 30px 30px;
    align-items: center;
}

.profile-section {
    text-align: center;
}

.image-container {
    position: relative;
    width: 280px;
    height: 280px;
    margin: 0 auto;
    border-radius: 1%;
    overflow: hidden;
    background-color: #BCBCBC;
}

#profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.input-field {
    width: 290px;
    padding: 13px;
    margin-bottom: 18px;
    border: 2px solid #24724D;
    background-color: white;
    border-radius: 20px;
    margin-left: 20px;
}

.back-button {
    padding: 20px 0px 0px 20px;
}

.back-button button {
    display: flex;
    align-items: center;
    gap: 3px;
    background: transparent;
    border: transparent;
    cursor: pointer;
    font-size: 25px;
    color: #24724D;
    font-weight: 500;
}

.back-button a {
    text-decoration: none;
}

.main-container {
    text-align: center;
    color: #24724D;
    padding: 30px 80px;
}

.main-container p {
    font-size: 25px;
}

.summary-button button {
    padding: 8px 30px;
    font-size: 18px;
    color: white;
    border: transparent;
    background-color: #24724D;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px
}

.summary-button {
    text-align: center;
    margin: 40px 0px 35px 0px;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px 0px;
}

.grid-item {
    display: inline-block;
    width: 20%;
    /* Default width for larger screens */
    box-sizing: border-box;
}

/* Center "No candidates found" message */
.no-candidates {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    /* Optional: Ensure height to center vertically */
    color: #343434;
}

.candidate {
    margin: 15px 0px;
}

/* Responsive Styles */
/* Medium screens (tablets, small desktops) */
@media screen and (max-width: 2100px) {
    .grid-item {
        width: 25%;
        /* 3 items per row */
    }
}
@media screen and (max-width: 1700px) {
    .grid-item {
        width: 33.33%;
        /* 3 items per row */
    }
}

/* Smaller screens (phones, small tablets) */
@media screen and (max-width: 1100px) {
    .grid-item {
        width: 50%;
        /* 2 items per row */
    }
}

/* Extra small screens (small phones) */
@media screen and (max-width: 900px) {
    .grid-item {
        width: 100%;
        /* 1 item per row for smaller phones */
    }
}

/* CSS for fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Ballot Popup Styles */
.ballot-popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Content with Fade-in Effect */
.ballot_popup-content {
    background-color: #ffffff;
    margin-inline: auto;
    margin-top: 25px;
    border: 3px solid #24724D;
    border-radius: 30px;
    width: 40%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out; /* Fade-in animation */
}


.ballot-popup-forms {
    width: 100%;
}

.form-section {
    display: flex;
    flex-direction: column;
}